


.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.rowelement {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 6px 36px rgba(0,0,0,.06);
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    max-width: 33.3333333333%;
}