<% c++ #include "data/tmpl_add_project.h" %>
<% skin defskin %>
<% view AddProject uses Data::AddProject extends Master%>
<% template page_content() %>

<div style="
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;">
    <a href="/projects/add_project/task" role="button" class="btn btn-primary btn-lg rounded-0">Create Task</a>
    <a href="/projects/add_project/long" role="button" class="btn btn-primary btn-lg rounded-0">Create Vacancy</a>
    <a href="/projects/add_project/contest" role="button" class="btn btn-primary btn-lg rounded-0">Create Contest</a>
</div>
<% end template %>
<% end view %>
<% end skin %>