<% c++ #include "data/tmpl_contractors.h" %>
<% skin defskin %>
<% view Contractors uses Data::Contractors extends Master%>
<% template page_content() %>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <% foreach contractor in contractors_page.contractors %>
        <% item %>
        <div class="col">
            <div class="card h-100 rowelement">
                <img src="/media/images/<%= contractor.cover %>" class="card-img-top card-cover">
                <div class="right">
                    <img src="/media/images/<%= contractor.avatar %>" class="avatar">
                </div>
                <div class="card-body">
                    <h2 class="card-title">
                        <a class="nav-link" href="/users/<%= contractor.id %>">
                            <%= contractor.fullname %>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>

<% end template %>
<% end view %>
<% end skin %>