<% c++ #include "data/tmpl_signup.h" %>
<% skin defskin %>
<% view Login uses Data::Login extends Master%>
<% template page_content() %>

<form action="" method="post" class="custom-form"> <% csrf %>
<% form as_p info %>
</form>

<% end template %>
<% end view %>
<% end skin %>