<% c++ #include "data/tmpl_main.h" %>
<% skin defskin %>
<% view Main uses Data::Main extends Master%>
<% template page_content() %>

<figure class="profile-cover">
    <img class="w-100 h-100 generalobject-cover trans3" src="/media/images/general_cover.jpg">
    <figcaption class="profile-caption">
        <h1 class="user_title">Do. Or do not. There is no try.</h1>
    </figcaption>
</figure>

<% end template %>
<% end view %>
<% end skin %>