<% c++ #include "data/tmpl_project.h" %>
<% skin defskin %>
<% view SingleProject uses Data::SingleProject extends Master%>
<% template page_content() %>

<h1>
    <%= project_page.project.name %>
</h1>
<% if (content.project_page.is_employee) %>
    <% if (content.project_page.is_bid_created) %>
        <% if (content.project_page.bids[0].first.state->str() == "approved") %>
            <button type="button" class="btn btn-outline-success" disabled>Approved</button>
        <% elif (content.project_page.bids[0].first.state->str() == "rejected") %>
            <button type="button" class="btn btn-outline-danger" disabled>Rejected</button>
        <% else %>
            <button type="button" class="btn btn-outline-warning" disabled>Considering</button>
        <% end %>
    <% else %>
        <a role="button" class="btn btn-success" href="/projects/bid_on/<%= project_page.project.id %>"> Bid on </a>
    <% end %>
<% end %>
<% if (!content.project_page.is_employee && content.project_page.has_right) %>
    <table style="min-width: 100%">
        <tbody>
            <th style="width: 50%">
                <div>
                    <div class="p-3 mb-2 bg-info-subtle text-info-emphasis">
                        <h2> Bids </h2>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> employee </th>
                                <th scope="col"> status </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% foreach bid in project_page.bids %>
                                <% item %>
                                    <tr>
                                        <td><%= bid.second.fullname %></td>
                                        <% if (bid.first.state->str() == "considering") %>
                                            <td>
                                                <div class="btn-group">
                                                    <a role="button" class="btn btn-success" href="/projects/<%= bid.first.id %>/approve"> Approve </a>
                                                    <a role="button" class="btn btn-danger" href="/projects/<%= bid.first.id %>/reject"> Reject </a>
                                                </div>
                                            </td>
                                        <% elif (bid.first.state->str() == "approved") %>
                                            <td>
                                                <button type="button" class="btn btn-outline-success" disabled> Approved </button>
                                            </td>
                                        <% else %>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger" disabled> Rejected </button>
                                            </td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </th>
            <th class="align-top">
                <p class="text-body-secondary">
                    Current status:
                    <% if (content.project_page.project.state->integer() == 0) %>
                        is not started
                        <a role="button" class="btn btn-success" href="/projects/<%= project_page.project.id %>/advance"> Advance </a>
                    <% elif (content.project_page.project.state->integer() == 1) %>
                        is preparing
                        <a role="button" class="btn btn-success" href="/projects/<%= project_page.project.id %>/advance"> Advance </a>
                    <% elif (content.project_page.project.state->integer() == 2) %>
                        is processing
                        <a role="button" class="btn btn-success" href="/projects/<%= project_page.project.id %>/advance"> Advance </a>
                    <% elif (content.project_page.project.state->integer() == 3) %>
                        is completed
                    <% end %>
                </p>
            </th>
        </tbody>
    </table>
<% end %>

<% end template %>
<% end view %>
<% end skin %>