<% c++ #include "data/tmpl_projects.h" %>
<% skin defskin %>
<% view Projects uses Data::Projects extends Master%>
<% template page_content() %>
<div class="row">
    <% foreach project in projects_page.projects %>
        <% item %>
        <div class="card mb-3" style="width: 30%; height: 100px; margin: 1.6666666%; box-shadow: 0 6px 36px rgba(0,0,0,.06);">
            <div class="card-header">
                <h2>
                <a class="nav-link" href="/projects/<%= project.id %>">
                    <%= project.name %>
                </a>
                </h2>
            </div>
        </div>
        <% end %>
    <% end %>
</div>
<% end template %>
<% end view %>
<% end skin %>